{% extends "base.html" %}
{% load static %}
{% block navbar %}{% include 'navbar_sans_alerte.html' %}{% endblock navbar %}
{% block content %}
    <div class="container mt-4">
        <!-- Bande pour les messages -->
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="profile-header text-center">
            {% if user.profile_photo %}
                <img src="{{ user.profile_photo.url }}" alt="Photo de Profil" class="profile-photo mb-3">
            {% else %}
                <img src="{% static 'prevention/assets/images/profil_defaut.png' %}" alt="Photo de Profil" class="profile-photo mb-3">
            {% endif %}
        </div>
        <div class="profile-content">
            <form method="post" id="formProfil" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="{{ form.first_name.id_for_label }}">Nom</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        {{ form.email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="{{ form.telephone.id_for_label }}">Téléphone</label>
                        {{ form.telephone }}
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="{{ form.genre.id_for_label }}">Genre</label>
                        {{ form.genre }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="{{ form.profile_photo.id_for_label }}">Photo de Profil</label>
                        {{ form.profile_photo }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100" style="background-color: rgb(55, 82, 163);"
                        onmouseover="this.style.backgroundColor='#4a68ad';"
                        onmouseout="this.style.backgroundColor='rgb(55, 82, 163);'">Enregistrer les
                    modifications
                </button>
            </form>
        </div>
    </div>

    {% include 'prevention/alerte.html' %}
{% endblock content %}
