{% extends 'base.html' %}
{% load static %}
{% block title %} Profil Utilisateur - Notariat{% endblock title %}
{% block head_h1 %} Profil Utilisateur {% endblock head_h1 %}
{% block lien_head %} <a class="active" href="#">Profil Utilisateur</a> {% endblock %}

{% block content %}
    <div class="main-content">
        <!-- FICHE DE PROFIL -->
        <div class="profile-container">
            <h3>Informations du Profil</h3>
            <div class="profile-header">
                <img src="{% if user.profile_photo %}{{ user.profile_photo.url }}{% else %}{% static 'personnel/assets/images/profil_defaut.png' %}{% endif %}" alt="Photo de Profil"
                     class="profile-pic">
                <div class="profile-info">
                    <h4>{{ user.get_full_name }}</h4> <!-- Affiche le nom complet de l'utilisateur -->
                    <p>{{ user.role }}</p> <!-- Affiche le rôle de l'utilisateur -->
                    <p>Matricule : {{ user.matricule|default_if_none:'Aucun' }}</p>
                </div>
            </div>
            <table class="profile-details">
                <thead>
                <tr>
                    <th colspan="2">Détails du Profil</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Email:</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>Téléphone:</td>
                    <td>{{ user.telephone }}</td>
                </tr>
                <tr>
                    <td>Adresse:</td>
                    <td>{{ user.adresse }}</td> <!-- Si vous avez un champ d'adresse dans votre modèle -->
                </tr>
                <tr>
                    <td>Date d'Embauche:</td>
                    <td>{{ user.date_entree|date:"d-m-Y" }}</td> <!-- Formatez la date d'entrée -->
                </tr>
                </tbody>
            </table>
        </div>
        <!-- FICHE DE PROFIL -->
    </div>
{% endblock content %}
