{% extends 'base.html' %}
{% load static %}
{% block title %}Modifier Heure Supplémentaire - Medpark Clinic{% endblock title %}
{% block head_h1 %}Modifier Heure Supplémentaire{% endblock head_h1 %}
{% block lien_head %}
    <a href="{% url 'personnel:heure_supplementaire' %}">Retour aux Heures Supplémentaires</a> {% endblock %}

{% block content %}
    <div class="messages-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="main-content">
        <!-- FORMULAIRE DE MODIFICATION DES HEURES SUPPLÉMENTAIRES -->
        <div class="form-container">
            <form action="{% url 'personnel:edit_overtime' heure_supp.id %}" method="post">
                {% csrf_token %}

                <label for="hours-worked">Heures Travaillées</label>
                <input type="number" id="hours-worked" name="nombre_heures" step="0.01"
                       value="{{ form.nombre_heures.value }}" required>

                <label for="reason">Motif</label>
                <textarea id="reason" name="motif">{{ form.motif.value }}</textarea>


                <button type="submit" class="btn-submit">Enregistrer</button>
            </form>
        </div>
    </div>
{% endblock content %}
