{% extends 'base.html' %}
{% load static %}
{% block title %}Heure Supplémentaire - Medpark Clinic{% endblock title %}
{% block head_h1 %}Heures Supplémentaires{% endblock head_h1 %}
{% block lien_head %} <a class="active" href="#">Heures Supplémentaires</a> {% endblock %}

{% block content %}
    <div class="messages-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="main-content">
        <!-- FORMULAIRE D'HEURES SUPPLÉMENTAIRES -->
        <div class="form-container">
            <form action="{% url 'personnel:heure_supplementaire' %}" method="post">
                {% csrf_token %}

                <label for="hours-worked">Heures Travaillées</label>
                <input type="number" id="hours-worked" name="hours-worked" step="0.01" required>

                <label for="reason">Motif</label>
                <textarea id="reason" name="reason"></textarea>
                <button type="submit" class="btn-submit">Ajouter</button>
            </form>
        </div>

        <!-- LISTE DES HEURES SUPPLÉMENTAIRES -->
        <div class="requests-list">
            <h3>Liste des Heures Supplémentaires</h3>
            <table>
                <thead>
                    <tr>
                        <th>Heures Travaillées</th>
                        <th>Date</th>
                        <th>Motif</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for heure in heures_list %}
                        <tr>
                            <td>{{ heure.nombre_heures }}</td>
                            <td>{{ heure.date|date:"d-m-Y" }}</td>
                            <td>{{ heure.motif|default_if_none:"Aucun motif" }}</td>
                            <td>
                                <a href="{% url 'personnel:edit_overtime' heure.id %}" class="btn-edit">Modifier</a>
                                <a href="{% url 'personnel:delete_overtime' heure.id %}" class="btn-delete">Supprimer</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">Aucune heure supplémentaire enregistrée pour le moment.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
