{% extends 'base.html' %}
{% load static %}
{% block title %} Présence - Medpark Clinic{% endblock title %}
{% block head_h1 %} Présence {% endblock head_h1 %}
{% block lien_head %} <a class="active" href="#">Présence</a> {% endblock %}

{% block content %}
    <div class="main-content">
    <div class="presence-container" style="width: 1200px;">
        <h3>Liste des Présences</h3>
        <div class="table-data">
            <div class="order">
                <table>
                    <thead>
                        <tr>
                            <th>Employé</th>
                            <th>Date</th>
                            <th>Heure d'Arrivée</th>
                            <th>Heure de Départ</th>
                            <th>Heures Travaillées</th>
                            <th>Statut</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="{% static 'personnel/assets/images/profil_defaut.png' %}" alt="Photo de Profil" class="profile-pic">
                                <p>John</p>
                            </td>
                            <td>01-09-2024</td>
                            <td>08:00</td>
                            <td>16:00</td>
                            <td>8.00</td>
                            <td><span class="status present">Présent</span></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{% static 'personnel/assets/images/profil_defaut.png' %}" alt="Photo de Profil" class="profile-pic">
                                <p>Deborah</p>
                            </td>
                            <td>02-09-2024</td>
                            <td>09:00</td>
                            <td>--</td>
                            <td>8.00</td>
                            <td><span class="status absent">Absent</span></td>
                        </tr>
                        <tr>
                            <td>
                                <img src="{% static 'personnel/assets/images/profil_defaut.png' %}" alt="Photo de Profil" class="profile-pic">
                                <p>Michael</p>
                            </td>
                            <td>03-09-2024</td>
                            <td>08:30</td>
                            <td>16:30</td>
                            <td>8.00</td>
                            <td><span class="status present">Présent</span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}