{% extends 'base.html' %}
{% load static %}
{% block title %}Modifier Fiche de Paie - Medpark Clinic{% endblock title %}
{% block head_h1 %} Modifier le Bulletin de Paie {% endblock head_h1 %}
{% block lien_head %} <a class="active" href="{% url 'personnel:modifier_fichedepaie' fiche_id=fiche.id %}">Modifier Bulletin de Paie</a> {% endblock %}

{% block content %}
    <br>

    <!-- Affichage des messages de succès ou d'erreur -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="form-container">
        <form action="{% url 'personnel:modifier_fichedepaie' fiche_id=fiche.id %}" method="POST">
            {% csrf_token %}

            <!-- Employé -->
            <label for="employe">Employé :</label>
            <select name="employe" id="employe"
                    style="width: 100%; padding: 12px; border-radius: 8px; border: 1px solid var(--grey); font-size: 14px; background-color: white">
                {% for employe in employes %}
                    <option value="{{ employe.id }}" {% if fiche.employe.id == employe.id %}
                            selected {% endif %}>{{ employe.username }}</option>
                {% endfor %}
            </select>

            <!-- Remuneration -->
            <h3>Rémunération:</h3>
            <!-- Salaire de base -->
            <label for="salaire_base">Salaire de base :</label>
            <input type="number" step="0.01" name="salaire_base" id="salaire_base"
                   value="{{ fiche.salaire_base|stringformat:"0.2f" }}" required>

            <!-- Congés payés -->
            <label for="conges_payes">Congés payés :</label>
            <input type="number" step="0.01" name="conges_payes" id="conges_payes"
                   value="{{ fiche.conges_payes|stringformat:"0.2f" }}" required>

            <!-- Jours de maladie -->
            <label for="jour_maladie">Jours de maladie :</label>
            <input type="number" step="0.01" name="jour_maladie" id="jour_maladie"
                   value="{{ fiche.jour_maladie|stringformat:"0.2f" }}">

            <!-- Heures supplémentaires -->
            <label for="heures_supplementaires">Heures supplémentaires :</label>
            <input type="number" step="0.01" name="heures_supplementaires" id="heures_supplementaires"
                   value="{{ fiche.heures_supplementaires|stringformat:"0.2f" }}">

            <!-- Jours fériés/Dimanches -->
            <label for="jour_ferie_dimanche">Jours fériés/Dimanches :</label>
            <input type="number" step="0.01" name="jour_ferie_dimanche" id="jour_ferie_dimanche"
                   value="{{ fiche.jour_ferie_dimanche|stringformat:"0.2f" }}">

            <!-- Prime d'intensité -->
            <label for="prime_intensite">Prime d'intensité :</label>
            <input type="number" step="0.01" name="prime_intensite" id="prime_intensite"
                   value="{{ fiche.prime_intensite|stringformat:"0.2f" }}">

            <!-- Autres rémunérations -->
            <label for="divers_remuneration">Autres rémunérations :</label>
            <input type="number" step="0.01" name="divers_remuneration" id="divers_remuneration"
                   value="{{ fiche.divers_remuneration|stringformat:"0.2f" }}">

            <h3>Indemnités :</h3>
            <!-- Indemnité de logement -->
            <label for="indemnites_logement">Indemnité de logement :</label>
            <input type="number" step="0.01" name="indemnites_logement" id="indemnites_logement"
                   value="{{ fiche.indemnites_logement|stringformat:"0.2f" }}">

            <!-- Indemnité de transport -->
            <label for="indemnites_transport">Indemnité de transport :</label>
            <input type="number" step="0.01" name="indemnites_transport" id="indemnites_transport"
                   value="{{ fiche.indemnites_transport|stringformat:"0.2f" }}">

            <!-- Cotisation syndicale -->
            <label for="cotisation_syndicale">Cotisation syndicale :</label>
            <input type="number" step="0.01" name="cotisation_syndicale" id="cotisation_syndicale"
                   value="{{ fiche.cotisation_syndicale|stringformat:"0.2f" }}">

            <!-- Autres retenues -->
            <label for="autres_retenues">Autres retenues :</label>
            <input type="number" step="0.01" name="autres_retenues" id="autres_retenues"
                   value="{{ fiche.autres_retenues|stringformat:"0.2f" }}">

            <h3>Allocations Familiales :</h3>
            <!-- Nombre d'enfants -->
            <label for="nombre_enfants">Nombre d'enfants :</label>
            <input type="number" name="nombre_enfants" id="nombre_enfants" value="{{ fiche.nombre_enfants }}">

            <!-- Taux allocation familiale -->
            <label for="taux_allocation_familiale">Taux allocation familiale :</label>
            <input type="number" step="0.01" name="taux_allocation_familiale" id="taux_allocation_familiale"
                   value="{{ fiche.taux_allocation_familiale|stringformat:"0.2f" }}">

            <!-- Bouton de soumission -->
            <button type="submit">Mettre à jour le bulletin de paie</button>

        </form>
    </div>
{% endblock content %}
