{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
    <h1>Gestion du personnel</h1>
{% endblock %}

{% block extrastyle %}

    <style>
        #header{
            
        }
        #branding h1{
            color: white;
            font-size: 1.5rem;
            text-transform: capitalize;
            font-weight: bold;
        }
        body{
            
        }
        #content h1{
            color: black;
        }
        table caption{
            background-color: #2596be;
        }
    </style>

{% endblock %}